<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/cs-select.css" />
		<link rel="stylesheet" type="text/css" href="css/cs-skin-elastic.css" />

<div class="color-3">
		<div class="container">
			<!-- Top Navigation -->
			<header class="codrops-header">
				<h1><span>A demo</span>Expense App</h1>
			</header>
			<form>
			<section>
				<select name="userid" class="cs-select cs-skin-elastic">
					<option value="" disabled selected>Select an Email</option>
					{{#each users}}
					<option value="{{id}}" data-class="flag-india">{{first_name}} {{last_name}}</option>
					{{/each}}
				</select>
			</section>
			<section>
				<select name="month" class="cs-select cs-skin-elastic">
					<option value="1" data-class="flag-india" selected> January </option>
					<option value="2" data-class="flag-india"> February </option>
					<option value="3" data-class="flag-india"> March </option>
					<option value="4" data-class="flag-india"> April </option>
					<option value="5" data-class="flag-india"> May </option>
					<option value="6" data-class="flag-india"> June </option>
				</select>
			</section>
			</form>
			<section>
				<h2 class="expense js-expense">  &#x20B9; 75000</h2>
			</section>
		</div><!-- /container -->
		<script src="/jquery-2.2.0.min.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/selectFx.js"></script>
		<script>
			$('document').ready(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
					new SelectFx(el, {
						onChange: change
					});
				});

				function change(){
					$.post('/app', $('form').serialize(), function(response){
						$('.js-expense').text('\u20B9 ' + response.expense);
					})
				}

			});



		</script>
</div>