<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/cs-select.css" />
		<link rel="stylesheet" type="text/css" href="css/cs-skin-elastic.css" />

<div class="color-3">
		<div class="container">
			<!-- Top Navigation -->
			<header class="codrops-header">
				<h1><span>A demo</span>Expense App</h1>
			</header>
			<form>
			<section>
				<select name="userid" class="cs-select cs-skin-elastic">
					<option value="" disabled selected>Select an Email</option>
					{{#each users}}
					<option value="{{id}}" data-class="flag-india">{{first_name}} {{last_name}}</option>
					{{/each}}
				</select>
			</section>
			<section>
				<select name="month" class="cs-select cs-skin-elastic">
					<option value="1" data-class="flag-india" selected> January </option>
					<option value="2" data-class="flag-india"> February </option>
					<option value="3" data-class="flag-india"> March </option>
					<option value="4" data-class="flag-india"> April </option>
					<option value="5" data-class="flag-india"> May </option>
					<option value="6" data-class="flag-india"> June </option>
				</select>
			</section>
			</form>
			<section>
				<img class="loader" style="display:none;" src="img/bars.svg" width="40" alt="">
				<div class="expense js-expense"></div>
			</section>
		</div><!-- /container -->
		<script src="/jquery-2.2.0.min.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/selectFx.js"></script>
		<script>
			$('document').ready(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
					new SelectFx(el, {
						onChange: change
					});
				});

				function change(){
					$('.loader').show();
					$('.js-expense').text('');

					$.post('/app', $('form').serialize(), function(response){
						$('.loader').hide();
						$('.js-expense').html(makeTable(response.total, response.expenses));
					})
				}

				function makeTable(total, expenses) {
					var str = '';
					str += '<table class="mdl-data-table mdl-js-data-table">';

					str += '<thead><tr><th class="mdl-data-table__cell--non-numeric">Seller</th><th>Expense</th></tr></thead>';
					str += '<tbody>';
					expenses
						.forEach(function (expense) {
							if (!isNaN(expense.total) && expense.total > 0) {
								str += '<tr>';
								str += '<td class="mdl-data-table__cell--non-numeric">' + expense.seller + '</td>'
								str += '<td>' + expense.total + '</td>'
								str += '</tr>';
							}
						})

					str += '<tr>';
					str += '<td> Total </td>';
					str += '<td>' + total + '</td>';
					str += '</tr>';
					str += '</tbody>';

					str += '</table>'

					return str;
				}

			});



		</script>
</div>